body {
    font: 14px 'Verdana';
    margin: 0;
    padding: 0;
    background: url(../Content/Home.jpg) fixed;
    width: 100%;
    height: 100hv;
}
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #ffffff;
    opacity: 0.7;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: #cdcdcd;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 130px;
    top: 37px;
    left: 0;
    background-color: #ffffff;
    border-top: 3px solid #ff3136;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: #000000;
    background-color: #cdcdcd;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}
.footer{
    position: fixed;
    bottom: 0;
    padding-bottom: 10px;
    background: #ff9997;
    color: #000000;
    opacity: 0.7;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    width: 100%;  height: 1.5%;
}
.reg{
    width: 600px;
    height: 400px;
    position: absolute;
    top: 40%;
    left: 37%;
    margin: -125px 0 0 -125px;
    background-color: #ffffff;
    opacity: 0.6;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.log{
    font: 20px 'Verdana';
    margin: auto;
    padding: 10px 50px;
    text-align: center;
}
input{
    height: 20px;
    width: 200px;
}
button{
    padding: 5px 10px;
}
